<section class="ui center aligned middle aligned segment">

<h2>About Video Game Library</h2>

<p><strong>Author:</strong> Kurtis Doyle Healy</p>
<p><strong>Email:</strong> kurtis@gmail.com</p>
<p><strong>Location:</strong> Ireland</p>

<h3>App Location</h3>

<img src="/images/map.jpg" width="400">

<h3>App Statistics</h3>

<p><strong>App Name:</strong> {{info.appName}}</p>
<p><strong>Version:</strong> {{info.version}}</p>
<p><strong>Categories:</strong> {{info.categories}}</p>
<p><strong>Games:</strong> {{info.games}}</p>

</section>