{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Welcome to the Video Game Library</h2>

<p>
This web application will allow users to browse a collection of video games
across different genres such as RPG, Action, Sports, and Horror.
Users can explore categories and view details about each game.
</p>

</section>
